/* elnur fro */
.word .col-md-4{
	position: absolute;
	top: 30%;
	left: 55%;
	transform: translateX(-70%);

}

.word{
	height: 100vh;
	background-image: url(header-bg.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 130px;
}

/* elnur fro */

/* lorem ipsum head */
.contact-word{
	background-color: red;
	width: 100%;
	padding: 100px 0;
	
}
.words p{
	text-align: center;
   padding: 0  220px;
}

div .head p{
  text-align: center;
  padding-bottom:100px; 
  letter-spacing: 10px;
  font-size: 20px;
 
}
.border-radius p{
text-align: center;	
}
/* end */

/* circle */
.circle{
	width:150px;
	height: 150px;
	background-color:blue;
	border-radius: 50%;
	margin:0 auto;
}
.border-radius{
	padding:50px 0;
}
.border-radius p {
	padding: 30px 20px;
}
.border-radiusheader{
	text-align: center;
	padding: 50px 0;
}
.border-radius h3{
 text-align: center;
 padding:30px 0;
}

/* border radius end */

/* content starting */

.image-block{
	width:100%;

	padding-bottom:50px;
	background-color: red;
}
.image{
	height: 370px;
	background-image: url(about1.png);
	background-size: cover;
}
.word-child{
float: right;
width: 50%;
}
.word-child p{
	padding: 70px 45px;

}
.word-child h3{
	padding-left: 45px;
	padding-top: 50px;
	font-size: 18px;
}
.image-child{
	float: left;
	width: 50%;
}
.btn-wording{
	margin-left: 45px;
	padding:10px 15px;
	background-color:red;
	border:solid 1.5px;
	border-color: white;
	
}
	


/*    content 2 */
.block-image{
    width:100%;
	padding-bottom: 50px;
	background-color: white;	
}

.egami{
	background-image: url(about2.png);
	height: 380px;
	background-size: cover;
}
.child-image{
	width: 50%;
	float: right;
}
.child-word{
	width: 50%;
	float: left;
}
.child-word p{
	padding: 70px 72px;

}
.child-word h3{
	padding-left: 72px;
	padding-top: 50px;
	font-size: 18px;
}
.wording-btn{
    margin-left: 72px;
	padding:10px 15px;
	background-color:white;
	border:solid 1.5px;
	border-color: red;
}
/* 2 end */

/* 3 content */
.bird-block{
	width: 100%;
	background-color: red;
	padding-bottom:  40px;
	}

.bird-child{
	float: left;
	width: 50%;
}
.bird-childs{
	float: right;
	width: 50%;
}
.bird-image{
	background-image:url(about3.png);
	height: 395px;
	width: 100%;
	background-size: cover;
	}
/* 3 content  end sehf!!!!*/



/* recent project start */
.recent-project h2{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top:60px;
    margin-bottom: 60px;
}
.recent-project span{
	color: red;
	font-size: 24px;
	letter-spacing: 16px;

}
.portfolio1{
	width: 100%;
	height: 300px;
	float: left;
	filter: grayscale(100%);
}
/* bitdi */

/*hire lorem */
.hire{
	background-color: red;
	
}
.button-child{
	text-align: center;

}
.button-child button{ 
	padding:30px;
	background-color: red;
	color: black;
 }
 .button-child button:hover{
 	border-color: yellow;
 	color:yellow;
 }
 
/* hire lorem bitdi */

/*snoopdoge */

.rectangle-image{
	background-image: url(snoopdoge.jpeg);
	padding:100px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 50px;
}


.rectangle-child h2 {
	text-align: center;
	color: black;
	margin-top: 20px;
	margin-bottom:20px;
	font-size: 19px;
	font-weight: 800px;

}
.rectangle-child p{
	text-align: center;
	
}
.rectangle-photo h1{
text-align: center;
margin-top: 50px;
margin-bottom: 50px;
color: red;
font-size: 20px;

}
.rectangle-child{
	background-color: black;
}
/* bitdi */

/*rockfeller */
.rockfeller{
	background-color: red;
	height:400px;
}

.rockfeller-image{
	background-image: url(clients.png);
	height: 400px;
	width: 100%;
}

.rockfeller-child{
	width: 50%;
	float: left;
}
.rockfellerword-child{
	width: 50%;
	float: right;
}
.rockfeller p{
	padding:100px 50px;

}
.rockfeller h2{
	text-align: center;
	margin-top: 50px;
}
/* rockfeller bitdi */

/* firetower basladi */
.fire-tower{
	background-color: red;
	width: 100%;
	height:400px;
}
.firetower-child{
	float: left;
	width: 50%;
	position: relative;
}
.firetower-image-child{
	float: right;
	width: 50%;
}
.firetower-bg{
	background-image: url(newsletter.png);
	width: 100%;
	height: 400px;
}
.firetower-child button{
	margin-top: 200px;
	padding: 20px 30px;
	background-color: yellow;
	color: red;
	border-color: yellow;
}

.firetower-child input{
	margin-left: 230px;
	padding:20px 30px;
	background-color: red;
	}


.firetower-child h2{
	text-align: center;
	font-size: 30px;
	letter-spacing: 10px;
	font-weight: 700px;
	color: white;
	position: absolute;
	top:150px;
	left:200px;

}
.rockfeller{
	margin-top: 100px;
}
/* bitdi */

/*foot basladi */
.foot-block span{
	color: red;
	font-weight: 700;
	font-size: 20px;
}
.foot-block h2 {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 90px;
	font-size: 20px;
}
.foot-block{
	background-color: white;
	height: 300px;
}
.foot-child{
	float: left;
	width: 100%;
	margin-bottom: 50px;
}
.foot-rectangle{
	width: 100%;
	height: 200px;
	background-color: #c3c3c3;
}
.foot-rectangle p{
	text-align: center;
	padding-top: 50px;
}
.foot-rectangle h3{
	text-align: center;
	padding-top: 30px;
}
 
/* foot bitdi */
/* footer block basladi */
.footer-block{

	width: 100%;
	height:400px;
}
.footer-child{
	float: left;
	width: 50%;
}
.footer-child img{
	width:100%;
	height: 400px;
}
.mail{
	margin-left: 30px;
}
.bos{
	padding:170px 250px;
}
/*bitdi */ 
/* media basladi */



@media screen and (max-width: 768px){
	.mail{
		margin-left: 0;
		margin-top: 30px;
	}
	.word .col-md-4 {
		top:43%;
		left: 50%;
	}
	.word{
		background-position:bottom;
		margin:none;
		height: 500px;
		margin-left: 0;
	}
	.image-child{
		float: none;
		width: 100%;
	}

	.word-child{
		float: none;
		width: 100%
	}
	.child-word{
		float: none;
		width:100%;
	}
	.child-image{
		float: none;
		width: 100%;
	}
	.bird-child{

		float: none;
		width: 100%;
	}
	.portfolio1{
		object-fit: cover;
	}
	.bos{
		padding: 151px 74px;
	}
	.firetower-child button {      
 
    position: absolute;
    left: 428px;
     }
     .firetower-child input {
    position: absolute;
       margin: static;
    left: 44%;
    top: 100px;
	}
	.hire-lorem{
		padding: 50px;
	}
	}
	    
	
@media screen and (max-width: 426px){
	.words p{
		padding: 10px;
	}
	.rockfellerword-child p{
      padding: 10px;
	}
    .firetower-child button{
     margin-top: 214px;
     left: 266px;
    }
    .firetower-child input{
     margin-left: 213px;
     padding: 15px 6px;
     left: 0;
    }
}
@media screen and (max-width: 321px){
	.firetower-child input{
	 display: none;
    }
     .firetower-child button{
     display: none;
    }
    .firetower-child h2 {
    	display: none;
    }
    .bos{
    	padding: 137px 60px;
    }
}
